<h1>Main Menu</h1>
<div>
  <div id="sect1"class="container">
    <h3>load image</h3>
    </div>
    <div><img src="/src/assets/img/Conoce-Angular.jpg" alt="img"></div>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Ng-Switch</h5>
    <p style=" background-color: rgb(227, 142, 235)" class="card-text">The ng-switch directive lets you hide/show HTML elements depending on an expression.
       You can also define a default section, by using the ng-switch-default directive, to show a section if none of the other sections get a match.
      </p>
    <a href="studentlist" class="btn btn-primary">See how it works!</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Data Binding in Angular</h5>
    <p style=" background-color: rgb(227, 142, 235)"  class="card-text">Data binding is a technique, where the data stays in sync between the component and the view. Whenever the user updates the data in the view, Angular updates the component. When the component gets new data, the Angular updates the view.</p>
    <a href="databinding" class="btn btn-primary">See how it works!</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Template driven Form</h5>
    <p style=" background-color: rgb(227, 142, 235)"  class="card-text">Template-driven forms use two-way data binding to update the data model in the component as changes are made in the template and vice versa. Angular supports two design approaches for interactive forms.</p>
    <a href="templetedrivenform" class="btn btn-primary">See how it works!</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Reactive Form</h5>
    <p style=" background-color: rgb(227, 142, 235)"  class="card-text">Reactive forms provide access to information about a given control through properties and methods provided with each instance. These properties and methods of the underlying AbstractControl class are used to control form state and determine when to display messages when handling input validation.</p>
    <a href="reactiveform" class="btn btn-primary">See how it works!</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Parent-Child Component Interaction</h5>
    <p style=" background-color: rgb(227, 142, 235)"  class="card-text">A common pattern in Angular is sharing data between a parent component and one or more child components. Implement this pattern with the @Input() and @Output() decorators.</p>
    <a href="child" class="btn btn-primary">See how it works!</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Component Interaction using Services</h5>
    <p style=" background-color: rgb(227, 142, 235)"  class="card-text">When passing data between components that lack a direct connection, such as siblings, grandchildren, etc, you should use a shared service. When you have data that should always be in sync, I find the RxJS BehaviorSubject very useful in this situation.</p>
    <a href="parentc" class="btn btn-primary">See how it works!</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">HTTP and Observables</h5>
    <p style=" background-color: rgb(227, 142, 235)"  class="card-text">Service will fetch the data from the webserver by making an HTTP request, and the HTTP get request will hit a web API (Application Programming Interface) which will fetch the data from the database and send it back as an HTTP response. The response that we get from an HTTP call is Observable.</p>
    <a href="list1" class="btn btn-primary">See how it works!</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">ng Lifecycle hooks</h5>
    <p style=" background-color: rgb(227, 142, 235)"  class="card-text">ng-Lifecycle hooks here!</p>
    <a href="lifecycle" class="btn btn-primary">See how it works!</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Observables</h5>
    <p style=" background-color: rgb(227, 142, 235)"  class="card-text">Observables without using subscribe!</p>
    <a href="observables" class="btn btn-primary">See how it works!</a>
  </div>
</div>
